<h1>Places</h1>

<div class="container text-center">
  <% for place in @places %>
  <div class="row g-2">
  <div class="ms-3"> 
    <%= yield %>
    </div>

    <ul>
      
        <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
      <% end %>
    </ul>


<p>
  <a class="btn btn-primary" href="/places/new" role="button">New Place</a>
</p>

      </div>
    </div>
  </div>
</div>
